::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: #d1d5db;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #9ca3af;
}

::-webkit-scrollbar-track {
    background-color: #f3f4f6;
    border-radius: 4px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin-slow {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.animate-spin-slow {
    animation: spin-slow 4s linear infinite;
}

.swal-title {
    font-size: 24px; /* Adjust size as needed */
    color: #333; /* Optional: Change color */
    font-weight: bold; /* Optional: Change weight */
}

.datepicker-horizontal {
    display: flex !important;
    flex-direction: row !important;
}

.datepicker-horizontal .react-datepicker__time-container {
    border-left: 1px solid #ddd;
    margin-left: 0px;
}

.datepicker-horizontal .react-datepicker__time-container .react-datepicker__time {
    border-left: none;
}

.datepicker-horizontal .react-datepicker__time-box {
    width: 80px;
}

.react-datepicker__time-container .react-datepicker-time__header {
    height: 24px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.875rem;
    font-weight: 600;
    padding: 0.25rem 0.5rem;
}


.react-datepicker__time-container .react-datepicker-time__header {
    height: 24px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.875rem;
    font-weight: 600;
    padding: 0.25rem 0.5rem;
}

.react-datepicker__time-container {
    width: 85px;
}

.react-datepicker__time-container .react-datepicker__time {
    background: white;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box {
    width: 85px !important;
    height: 195px !important;
    overflow-y: auto !important;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list {
    height: auto !important;
    padding: 0;
    overflow-y: hidden !important;
}