.c {
    @apply text-center;
}

.r {
    @apply text-right;
}

// -----

.w-icon {
    @apply w-12;
}

.w-date {
    @apply w-44;
}

.w-date-s {
    @apply w-52;
}

.w-date-st {
    @apply w-64;
}

.w-icon {

}