.custom-select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.select-arrow {
    background: none;
    border: none;
    color: #717885;
    font-size: 14px;
    cursor: pointer;
    margin-left: -35px;
    padding: 0;
}

.select-button {
    background: none;
    border: none;
    color: #717885;
    font-size: 14px;
    cursor: pointer;
    margin-left: -55px;
    padding: 0;
}